:root {
  --my-green: #00FF66;
  --my-blue: #004d99;
  --my-yellow: #FFFF99; 
   --my-lightblue: #00FFFF; 
   --my-lightyellow: #FFFFCC;
   --my-text: black;
   --my-heading: #004d99 ;
   --my-heading-text: white;
   
   
}