:root {
  --my-green: #D62828;
  --my-blue: #F77F00;
  --my-yellow: #FCBF49; 
   --my-lightblue: #EAE2B7; 
   --my-lightyellow: #FCBF49;
   --my-text: black;
    --my-heading: #F77F00;
   --my-heading-text: white;
   
   
}